In [1]:
import pandas as pd

In [13]:
AHP_proj = pd.read_csv('csv/Affordable_Housing_Production_by_Project_20240115.csv')

In [14]:
AHP_proj.head()

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units
0,44218,MEC E. 125TH ST. PARCEL B WEST,Multifamily Finance Program,12/31/2018,02/16/2022,No,Non Prevailing Wage,Article XI,0,101,101,0,93,2,297,0,297,404,0
1,44223,ROCHESTER SUYDAM PHASE 1,Multifamily Finance Program,06/30/2021,NaN,No,Non Prevailing Wage,Article XI,0,0,0,39,7,0,0,46,46,46,0
2,44225,Brook Avenue Apartments,Multifamily Finance Program,06/27/2014,12/28/2016,No,Non Prevailing Wage,421a,0,14,51,0,0,1,66,0,66,66,0
3,44230,Mermaid / West. 16th Street,Small Homes Program,06/30/2015,07/21/2017,No,Non Prevailing Wage,UDAAP,0,0,0,16,5,0,14,7,21,21,0
4,44239,Home for Harlem Dowling,Multifamily Finance Program,06/30/2014,12/29/2016,No,Non Prevailing Wage,420c,12,0,47,0,0,1,60,0,60,60,0

In [15]:
AHP_proj.describe()

,Project ID,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units
count,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000
mean,66010.368675,9.738072,16.586747,20.786265,3.580964,6.856867,0.247229,44.513494,13.282651,57.796145,78.457349,3.730602
std,7173.246611,39.089808,213.252870,101.354159,26.762897,74.422259,0.760615,158.854497,270.761913,312.051498,324.056271,20.722924
min,44218.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,61444.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
50%,68353.500000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.000000,0.000000,5.000000,15.000000,0.000000
75%,71719.500000,0.000000,0.000000,7.000000,0.000000,3.000000,0.000000,36.000000,1.000000,44.000000,71.000000,0.000000
max,74681.000000,572.000000,11413.000000,3959.000000,716.000000,4505.000000,11.000000,5881.000000,15372.000000,15372.000000,15372.000000,291.000000

In [16]:
for col in AHP_proj.columns:
    print(col)

Project ID
Project Name
Program Group
Project Start Date
Project Completion Date
Extended Affordability Only
Prevailing Wage Status
Planned Tax Benefit
Extremely Low Income Units
Very Low Income Units
Low Income Units
Moderate Income Units
Middle Income Units
Other Income Units
Counted Rental Units
Counted Homeownership Units
All Counted Units
Total Units
Senior Units

In [17]:
AHP_build = pd.read_csv('csv/Affordable_Housing_Production_by_Building_20240115.csv')

In [20]:
AHP_build.head()

,Project ID,Project Name,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,BBL,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
0,71425,1984 THIRD AVENUE,09/29/2023,NaN,1010284.0,1984,3 AVENUE,Manhattan,10029.0,1.016370e+09,...,12,0,0,0,0,0,23,0,23,100
1,74523,CONFIDENTIAL,09/29/2023,09/29/2023,NaN,----,----,Bronx,NaN,NaN,...,0,0,0,0,0,0,0,1,1,1
2,74526,CONFIDENTIAL,09/29/2023,09/29/2023,NaN,----,----,Bronx,NaN,NaN,...,0,0,0,0,0,0,0,1,1,1
3,74531,CONFIDENTIAL,09/29/2023,09/29/2023,NaN,----,----,Bronx,NaN,NaN,...,1,0,0,0,0,0,0,1,1,1
4,74558,352 MEEKER AVENUE APARTMENTS,09/29/2023,NaN,1010119.0,352,MEEKER AVENUE,Brooklyn,11211.0,NaN,...,0,0,0,0,0,0,9,0,9,27

In [21]:
AHP_build.describe()

,Project ID,Building ID,Postcode,BBL,BIN,Council District,Latitude,Longitude,Latitude (Internal),Longitude (Internal),...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
count,6996.000000,5.573000e+03,5527.000000,5.466000e+03,5.466000e+03,6989.000000,5527.000000,5527.000000,5460.000000,5460.000000,...,6996.000000,6996.000000,6996.000000,6996.000000,6996.000000,6996.000000,6996.000000,6996.000000,6996.000000,6996.000000
mean,64107.856061,5.625925e+05,10796.604668,2.481691e+09,2.600794e+06,26.245958,40.742846,-73.919283,40.743024,-73.919309,...,11.546169,4.093053,0.341910,0.018153,0.012436,0.493425,26.405232,7.879217,34.284448,46.540595
std,7659.507927,3.968207e+05,510.851423,9.432682e+08,1.022559e+06,14.093482,0.080438,0.051645,0.080363,0.051571,...,25.982834,12.333306,2.563006,0.374814,0.483009,10.805412,56.407600,42.567511,67.670359,94.039039
min,44218.000000,3.750000e+02,10001.000000,1.000638e+09,1.000000e+06,1.000000,40.570817,-74.171232,40.570290,-74.170235,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,58608.000000,1.156920e+05,10454.000000,2.026143e+09,2.004307e+06,14.000000,40.675848,-73.949927,40.676097,-73.949969,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000
50%,66670.000000,7.239790e+05,11205.000000,3.012055e+09,3.008367e+06,27.000000,40.720406,-73.926444,40.720670,-73.926628,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,8.000000,11.000000
75%,70001.000000,9.722090e+05,11221.000000,3.038218e+09,3.342618e+06,38.000000,40.820498,-73.892552,40.820673,-73.892505,...,10.000000,2.000000,0.000000,0.000000,0.000000,0.000000,24.000000,1.000000,31.000000,43.000000
max,74681.000000,1.010410e+06,11694.000000,5.031570e+09,5.171901e+06,51.000000,40.906630,-73.730624,40.906870,-73.729709,...,305.000000,193.000000,115.000000,23.000000,28.000000,536.000000,917.000000,489.000000,917.000000,1175.000000

In [22]:
for col in AHP_build.columns:
    print(col)

Project ID
Project Name
Project Start Date
Project Completion Date
Building ID
Number
Street
Borough
Postcode
BBL
BIN
Community Board
Council District
Census Tract
NTA - Neighborhood Tabulation Area
Latitude
Longitude
Latitude (Internal)
Longitude (Internal)
Building Completion Date
Reporting Construction Type
Extended Affordability Only
Prevailing Wage Status
Extremely Low Income Units
Very Low Income Units
Low Income Units
Moderate Income Units
Middle Income Units
Other Income Units
Studio Units
1-BR Units
2-BR Units
3-BR Units
4-BR Units
5-BR Units
6-BR+ Units
Unknown-BR Units
Counted Rental Units
Counted Homeownership Units
All Counted Units
Total Units